<div class="container">

  <div class="text-center">
    <h1>Profile</h1>
    <h2>User email| <%= current_user.email %></h2>
    <%= link_to "Register your philosopher", new_philosopher_path, class: "btn btn-flat join-in" %>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <% unless @past_bookings.empty? %>
        <div id="bookings">
          <div class="mt-5 text-center">
      	   <h3>Bookings Past</h3>
          </div>
           <% @past_bookings.each do |booking| %>
            <div class="card-product">
        		 <img src="https://i.imgur.com/OELHk5p.jpg" />
        		  <div class="card-product-infos">
        		    <h2><%= booking.start_date %> <%= booking.philosopher.name %></h2>
        		    <p><%= booking.philosopher.quote %></p>
        		  </div>
        		</div>
           <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <% unless @future_bookings.empty? %>
        <div id="bookings">
          <div class="mt-5 text-center">
      	 <h3>Bookings Pending</h3>
          </div>
         <% @future_bookings.each do |booking| %>
          <div class="card-product">
		        <img src="https://i.imgur.com/OELHk5p.jpg" />
		         <div class="" style="margin-left: 0;">
              <div class="dates">
                <h2> From: <%= booking.start_date %> </h2>
                <br>
                <h2> To: <%= booking.end_date %> </h2>
              </div>
               <br>
		           <h2> Philosopher: <%= booking.philosopher.name %> </h2>
		           <p style="margin-right: 65px;"> <%= booking.philosopher.quote %></p>
		          </div>
		      </div>
        <% end %>
       </div>
      <% end %>
    </div>
  </div>
</div>
