<div class="container mt-3">

  <%= simple_form_for @philosopher do |f| %>
    <%= f.input :name %>
    <%= f.input :quote %>
    <%= f.submit class: "btn btn-secondary btn-lg text-center" %>

  <% end %>

  <%= link_to "Return", "/philosophers" %>

</div>
