<div class="container mt-3">

  <div class="row justify-content-center">

    <div class="card text-center">
      <div class="card-header bg-secondary">
        <h1 style="color: white;">
          <%= @philosopher.name %>
        </h1>
      </div>
        <div class="card-body">

          <%#=  cl_image_tag @philosopher.photo.key, width: 348, height: 124, class: "card-img-top mb-3" %>
          <h5 class="card-title"><%= @philosopher.quote %></h5>
          <p class="card-text">Agent: <%= @philosopher.user.name %></p>
          <p class="card-text">Reserve him!</p>
          <%#= link_to "Delete Dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-3">
  <%= link_to "Reserve", "/philosophers/:philosopher_id/bookings/new", class: "btn btn-secondary btn-lg text-center mb-5 mr-2" %>
  <%= link_to "Reviews", "/reviews/new", class: "btn btn-secondary btn-lg text-center mb-5 mr-2" %>
  <%= link_to "Edit #{@philosopher.name}", "/", class: "btn btn-secondary btn-lg text-center mb-5 mr-2" %>
  <%= link_to "Return", "/", class: "btn btn-secondary btn-lg text-center mb-5" %>
</div>
