<div class="container mt-3">

  <div class="card-product">
    <img src="https://i.imgur.com/OELHk5p.jpg" />

    <%#=  cl_image_tag @philosopher.photo.key, width: 348, height: 124, class: "card-img-top mb-3" %>

    <div class="card-product-infos">
      <h3><%= "'#{@philosopher.quote}'"  %></p>
      <h2><%= "- #{@philosopher.name}" %></h2>
      <p class="card-text">Agent: <%= @philosopher.user.name %></p>
      <p class="card-text">Really helpful with: <%#= @philosopher.specialization %></p>
      <%= link_to "Reserve #{@philosopher.name}", new_philosopher_booking_path(@philosopher), class: "btn btn-secondary btn-lg m-5" %>
    </div>
  </div>

  <div class="philosopher-btns m-5">

    <% if current_user.email == @philosopher.user.email %>    

    <%= link_to "Edit #{@philosopher.name}", edit_philosopher_path, class: "btn btn-secondary btn-lg text-center m-1" %>

    <% end %>

    <%= link_to "Reviews", new_philosopher_review_path(@philosopher), class: "btn btn-secondary btn-lg text-center m-1" %>


    <%= link_to "Return", "/", class: "btn btn-secondary btn-lg text-center m-1" %>

  </div>
</div>
